<!DOCTYPE html>
<html>
    <head>
        <title>입력 값 처리 및 응답</title>
        <script src="test.js"></script>
        <script src="signup.js"></script>
        <script src="login.js"></script>
    </head>
    <body>
        <h1>입력 값을 서버로 전송하고 응답 받기</h1>
        <input type="text" id="userInput" placeholder="여기에 입력하세요" width="100px" height="200px" />
        <button id="sendButton">전송 및 응답 받기</button>
        <div id="serverResponse" width="400px"></div>
        <button id="loginBtn" width="50px" height="40px">로그인</button>
        <button id="signUpBtn" width="50px" height="40px">회원 가입</button>

        <div id="signupFormContainer" style="display: none">
            <h2>회원가입 폼</h2>
            <form id="signupForm">
                <div>
                    <label for="signup_userId">아이디:</label>
                    <input type="text" id="signup_userId" name="signup_userId" required />
                </div>
                <div>
                    <label for="signup_password">비밀번호:</label>
                    <input type="password" id="signup_password" name="signup_password" required />
                </div>
                <button type="submit" id="signup_submitBtn">가입</button>
            </form>
        </div>
        <div id="loginFormContainer" style="display: none">
            <h2>로그인 폼</h2>
            <form id="loginForm">
                <div>
                    <label for="login_userId">아이디:</label>
                    <input type="text" id="login_userId" name="login_userId" required />
                </div>
                <div>
                    <label for="login_password">비밀번호:</label>
                    <input type="password" id="login_password" name="login_password" required />
                </div>
                <button type="submit" id="login_submitBtn">로그인</button>
            </form>
        </div>
    </body>
</html>
